@import url("https://fonts.googleapis.com/css2?family=Abel&family=Rubik:ital,wght@1,300&family=Stick+No+Bills:wght@200&display=swap");
* {
  font-family: "Abel", sans-serif;
}
html {
  font-size: 10px;
}
img {
  position: relative;
  padding-top: 10px;
  left: 25%;
}
